**.suo

/(2016) 01. Debugging C# External DLL (Unity)/test_stacktrace/.vs/
/(2016) 01. Debugging C# External DLL (Unity)/test_stacktrace/Library/
/(2016) 01. Debugging C# External DLL (Unity)/test_stacktrace_dll/test_stacktrace_dll/bin/
/(2016) 01. Debugging C# External DLL (Unity)/test_stacktrace_dll/test_stacktrace_dll/obj/
/(2016) 01. Debugging C# External DLL (Unity)/test_stacktrace/test_stacktrace*.csproj
/(2016) 01. Debugging C# External DLL (Unity)/test_stacktrace/test_stacktrace.sln
